
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: hidden;
}



.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

.gradient-03 {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 8%;
  top: 15%;

  background: rgba(45, 72, 152, 0.75);
  filter: blur(175px);
  transform: rotate(-85deg);
}

.gradient-04 {
  position: absolute;
  width: 150px;
  height: 150px;
  right: 10%;
  bottom: 15%;

  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-05 {
  position: absolute;
  width: 150px;
  height: 150px;
  right: 8%;
  bottom: 11%;

  background: rgba(150, 30, 15, 0.75);
  filter: blur(175px);
  transform: rotate(-155deg);
}

.gradient-06 {
  position: absolute;
  width: 100px;
  height: 150px;
  left: 5%;
  top: 5%;

  background: rgba(152, 45, 125, 0.75);
  filter: blur(145px);
  transform: rotate(-95deg);
}

.gradient-07 {
  position: absolute;
  width: 150px;
  height: 150px;
  right: 3%;
  bottom: 15%;

  background: rgba(109, 30, 30, 0.75);
  filter: blur(145px);
  transform: rotate(-95deg);
}

.bg-footer {
  background: rgb(8, 15, 43);
  background: linear-gradient(90deg, rgba(8, 15, 43, 1) 29%, rgba(42, 7, 60, 1) 77%);
}



@tailwind base;
@tailwind components;
@tailwind utilities;